nav
    display: flex
    margin-left: 148px

    .navbar
        list-style-type: none
        width: 350px
        display: flex
        justify-content: space-between
        background: url("../../../public/img/coffee-beans-log-white.svg") no-repeat
        margin: 0
        padding-left: 30px
        padding-top: 20px

        li
            color: white
            font-size: 12px
            a
                text-decoration: none
                color: white
