@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap')

body
    font-family: 'Merienda', cursive
    width: 100vw

hr
    width: 240px
    height: 1px
    background-color: #000
    border: none
    margin: 0 auto
